@font-face {
<<<<<<< HEAD
  font-family: 'twemoji mozilla';
  src: url('../fonts/Twemoji.Mozilla.ttf');
=======
  font-family: "twemoji mozilla";
  src: url("../fonts/Twemoji.Mozilla.ttf");
>>>>>>> 3ea0d20e2cf7cf08c7e8e8c098ff725c4ea92224
}
